/* .SearchBar {
    align-self: center;
    margin: 0 10px;
    align-content: center;
    box-sizing: border-box;
    height: 20px;
}

.SearchBar button {
    height: 20px;
    width: 20px;
    align-content: center;
    padding: 0;
    margin: 0;
}

.SearchBar button img{
    height: 20px;
    width: 20px;
    align-content: center;
}

/* enable absolute positioning */
/*.inner-addon { 
    position: relative; 
}

/* style icon */ /*
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon *//*
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  *//*
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; } */


/* .input-group-prepend {
    display: inline-block;
}

.mb-3 input-group {
    display: inline-block;
} */


.SearchBar {
    display: flex;
    margin: 5px;
    object-fit: cover;
    position: relative;
    
}

.SearchBar input {
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
    width: 100%;
}

.SearchBar > button {
    position: relative;
    right: 60px;
    border-style: none;
    background-color: white;
    padding: 2px 6px;
    border-radius: 5px;
    height: 22px;
    top: 4px;
    
}

.SearchBar > input:focus {
    border: 1px solid yellow;
    
    
}
.SearchBar button i {
    padding: 0;
}

.bi bi-search {
    height: 18px;
}















